<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/fragments/head::head ('Usuários')}" />

<body class="flex flex-col justify-start items-center bg-blue-100 min-h-lvh min-w-lvw">
    <div th:replace="~{layout/fragments/header::header}"></div>
    <div class="flex flex-col w-full h-full justify-center align-middle">
        <card class="bg-white flex-1 m-6 rounded shadow-lg p-8 flex flex-col justify-center items-start">
            <div class="w-full">
                <h1 class="font-bold text-3xl">Usuários</h1>
            </div>
            <a th:href="@{/usuarios/adicionar}"
                class="font-medium p-2 mt-8 flex justify-center align-middle gap-2 rounded  dark:text-white hover:bg-gray-600 bg-gray-800">
                Adicionar usuário
            </a>
            <div class=" overflow-x-auto shadow-lg rounded w-full mt-2">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Nome
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Login
                            </th>
                            <th scope="col" class="px-6 py-3">
                                É admin?
                            </th>
                            <th scope="col" class="px-6 py-3 flex justify-center">
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario : ${usuarios}"
                            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            <td th:text="${usuario.getIdUsuario()}" class="px-6 py-4"></td>
                            <th th:text="${usuario.getNome()}" scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            </th>
                            <td th:text="${usuario.getLogin()}" class="px-6 py-4"></td>
                            <td th:if="${usuario.getIsAdmin() == 1}" th:text="Admin" class="px-6 py-4"></td>
                            <td th:if="${usuario.getIsAdmin() == 0}" th:text="Normal" class="px-6 py-4"></td>
                            <td class="px-6 py-4 flex justify-center items-center gap-2">
                                <form th:action="@{usuarios/editar/{id}(id=${usuario.getIdUsuario()})}" method="get">
                                    <input type="hidden" name="_method" value="edit" />
                                    <button type="submit" class="font-medium  dark:text-blue-700 hover:text-blue-400">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </form>
                                <form th:action="@{/usuarios/remover/{id}(id=${usuario.getIdUsuario()})}" method="get">
                                    <input type="hidden" name="_method" value="delete" />
                                    <button type="submit" class="font-medium dark:text-red-700 hover:text-red-400">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </card>
    </div>
</body>

</html>