<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Empréstimo de Ferramentas</title>
</head>

<body>
    <div th:fragment="header" class="flex items-center p-4 w-full h-16 bg-white shadow justify-between">
        <div th:replace="~{layout/fragments/logo::logo}"></div>
        <div class="flex">
            <p class="font-bold mx-4">Home</p>
            <p class="font-bold mx-4">Empréstimos</p>
            <p class="font-bold mx-4">Ferramentas</p>
            <p class="font-bold mx-4">Usuários</p>
        </div>
        <p class="font-bold">Sair</p>
    </div>
    </div>
</body>

</html>