<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Empréstimo de Ferramentas</title>
    </head>
    <body>
        <div th:fragment="logo" class="flex items-center gap-2">
            <img
                th:src="@{/images/logo-blue.png}"
                class="h-8 w-auto"
                alt="logo" />
            <h1 class="font-bold">EasyTools</h1>
        </div>
    </body>
</html>
