<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/fragments/head::head (Empréstimos)}" />

<body class="flex flex-col justify-start items-center bg-blue-100 min-h-lvh min-w-lvw">
    <div th:replace="~{layout/fragments/header::header}"></div>
    <div class="flex flex-col w-full h-full justify-center align-middle">
        <card class="bg-white flex-1 m-6 rounded shadow-lg p-8 flex flex-col justify-center items-start">
            <h1>Emprestimos</h1>
        </card>
    </div>
</body>

</html>