<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/fragments/head::head (Empréstimos)}" />

<body class="flex flex-col justify-start items-center bg-blue-100 h-lvh w-lvw">
    <main id="main" class="flex flex-col w-full h-full">
        <div th:replace="~{layout/fragments/header::header}" />
        <card class="bg-white h-4/6 w-4/12 rounded shadow-lg p-8 flex flex-col justify-evenly items-center">
            <h1>Empréstimos</h1>
        </card>
    </main>
</body>

</html>