<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" th:href="@{/images/logo-blue.png}" type="image/png" />
    <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js"
        integrity="sha384-BBDmZzVt6vjz5YbQqZPtFZW82o8QotoM7RUp5xOxV3nSJ8u2pSdtzFAbGKzTlKtg"
        crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body class="flex flex-col justify-start items-center bg-blue-100 h-lvh w-lvw">
    <div th:replace="~{layout/fragments/header::header}"></div>
    <main id="main" class="flex flex-col w-full h-full">
        <card class="bg-white h-4/6 w-4/12 rounded shadow-lg p-8 flex flex-col justify-evenly items-center">
            <h1>Buçanha</h1>
        </card>
    </main>
</body>

</html>